node_modules/
apps/*/node_modules
target
apps/backend/src-tauri/target
dist/
apps/*/dist
.next
apps/*/.next
.turbo/
apps/*/.turbo/
pnpm-lock.yaml
apps/*/pnpm-lock.yaml
.vscode
.env
.env.local
.env.toml
apps/*/.env.toml
apps/*/.env.local
.env.local.toml
.env.*.local
.ra-target
package-lock.yaml
output.log